<%- include("../partials/header.ejs") %>

    <div class="container">
        <% for(let book of books){ %>
            <div class="container col-6 offset-3">
                <h1>
                    <a href="/books/<%=book._id %>">
                        <%=book.title%>
                    </a>
                </h1>
                <h2>
                    <%=book.author%>
                </h2>
            </div>
            <%}%>

                <div class="container col-6 offset-3">
                    <form action=" /books/new" method="GET">
                        <button>Add a new book</button>
                    </form>

                </div>

    </div>
    <%- include("../partials/footer.ejs") %>