<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= book.title %>
    </h1>
    <h2>
        <%= book.author %>
    </h2>
    <form action="/books/<%=book._id %>/review" method="GET">
        <button type="submit">Add a Book Review</button>
    </form>
    <h1>Reviews</h1>
    <% for(const review of book.reviews){%>
        <h2>Rating: <%= review.rating %>
        </h2>
        <p>
            <%= review.body %>
        </p><a href=<%=`/books/${book._id}/review/${review._id}` %> >edit</a>
        <%}%>
            <div>
                <a href="/books">Back to all books</a>
            </div>
</body>

</html>