<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <canvas id="myCanvas" width="auto"></canvas>
                <h1 class="text-dark mt-3">
                    <%= book.title %>
                </h1>
                <h2 class="text-muted">
                    <%= book.author %>
                </h2>
                <h2>
                    <%= ave_rating %> <span class="Stars" style="--rating: <%= ave_rating %>;"
                            aria-label="Rating of this product is <%= ave_rating %> out of 5."></span>
                </h2>

                <form action="/books/<%=book._id %>/review" method="GET">
                    <button type="submit" class="btn btn-primary mt-3">Add a Book Review</button>
                </form>
            </div>
            <div class="col-6 float-left">
                <h1>Reviews</h1>
                <p>just testing if I can add </br>newline </br>like this</p>
                <% for(const review of book.reviews){%>
                    <div class="mb-3">
                        <h2><span class="Stars" style="--rating: <%= review.rating %>; font-size:x-large;"
                                aria-label="Rating of this product is <%= review.rating %> out of 5."></span> %>
                        </h2>
                        <p class="">
                            <%- review.body %>
                        </p>
                        <p class="card-footer bg-white text-muted float-right">
                            ——<%= review.author || "anonymous" %>
                        </p>
                        <!-- <form style="margin: 0; padding: 0;"
                            action="/books/<%= book._id %>/review/<%= review._id %>/?_method=DELETE" method="post">
                            <button class="btn btn-link"><a href=<%=`/books/${book._id}/review/${review._id}`
                                    %>>edit</a></button>

                            <button class="btn btn-link">delete</button>

                        </form> -->
                    </div>
                    <%}%>

            </div>

        </div>
    </div>
    <script>
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var maxWidth = canvas.width * .75;
        var lineHeight = canvas.height * .1;
        var x = canvas.width * 0.05;
        var y = 60;
        var text = "<%= book.title %>";

    </script>
    <script src="/javascripts/canvasWrapper.js"></script>
    <%- include("../partials/footer.ejs") %>